# Aliases

# opening files
alias open="gnome-open"
alias view="google-chrome"

# go up directories
alias ...="../../"
alias ....="../../../"
alias c="z"

# dotfiles
alias v="vim"
alias zshrc="vim ~/.dotfiles/.zshrc"
alias vimrc="vim ~/.dotfiles/.vimrc"
alias aliases=" vim ~/.dotfiles/.aliases"

# tmux
alias tmux="tmux -2 -f .tmux.conf"

#IDE's
alias idea="idea &"
alias lion="clion &"

#git
alias gst="git status"
alias gi="git init && touch README.md && touch .gitignore"
alias gaa="git add ."
alias gcm="git commit -m"
alias gpom="git push -u origin master"

# shutdown
alias shn="shutdown -h now"

# svn
alias svu="svn up"

# Network Stuff
alias desk="ssh 10.0.0.20"
alias ras="ssh pi@10.0.0.24"

alias checknet="sudo nmap -sP"

# redshift
alias gonight="redshift -O 3700"
alias goday="redshift -O 5500"

